{% extends "base_auth.html" %}
{% set title = "Login" %}

{% block content %}
<h2 style="margin:0 0 14px; text-align:center;">Login</h2>

<form method="POST" class="form">
  <label class="label">Username</label>
  <input class="input" name="username" placeholder="Masukkan username" autocomplete="username" required>

  <label class="label">Password</label>
  <input class="input" name="password" type="password" placeholder="Masukkan password" autocomplete="current-password" required>

  <button class="btn" type="submit">Login</button>

  <p class="switch">
    Belum punya akun?
    <a href="{{ url_for('register') }}">Daftar</a>
  </p>
</form>
{% endblock %}
