{% extends "base_auth.html" %}
{% set title = "Register" %}

{% block content %}
<h2 style="margin:0 0 14px; text-align:center;">Register</h2>

<form method="POST" class="form">
  <label class="label">Username</label>
  <input class="input" name="username" placeholder="Buat username" autocomplete="username" required>

  <label class="label">Password</label>
  <input class="input" name="password" type="password" placeholder="Buat password" autocomplete="new-password" required>

  <label class="label">Konfirmasi Password</label>
  <input class="input" name="confirm" type="password" placeholder="Ulangi password" autocomplete="new-password" required>

  <button class="btn" type="submit">Daftar</button>

  <p class="switch">
    Sudah punya akun?
    <a href="{{ url_for('login') }}">Login</a>
  </p>
</form>
{% endblock %}
